@import "tailwindcss";

@theme {
  --color-primary: #AE97E8;
  --font-logo: "Le_Murmure", "sans-serif";
}

@font-face {
  font-family: Le_Murmure;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../styles/fonts/Le_Murmure-Regular_web.ttf") format("truetype");
}
